<div class="text">
	<div my-menu="doSomething()">
		<div id='select'>
			<ul>
				<a href='#4X4Puzzle1'><li >> </li></a>
				<a href='#4X4Puzzle2'><li>> </li></a>
				<a href='#4X4Puzzle3'><li>> </li></a>
				<a href='#4X4Puzzle4'><li >> </li></a>
				<a href='#4X4Puzzle5'><li >> </li></a>

				<a href='#puzzles'><li class='back'>> </li></a>
			</ul>
		</div>
		<div id='list'>
			<ul>
				<li>Grid 4x4_1</li>
				<li>Grid 4x4_2</li>
				<li>Grid 4x4_3</li>
				<li>Grid 4x4_4</li>
				<li>Grid 4x4_5</li>
				<li class='back'>Back</li>
			</ul>
		</div>
		<div id='list2'>
			<ul>
				<li>{{_4x4_1Result}}</li>
				<li>{{_4x4_2Result}}</li>
				<li>{{_4x4_3Result}}</li>
				<li>{{_4x4_4Result}}</li>
				<li>{{_4x4_5Result}}</li>
				<li class='back'>&nbsp;</li>
			</ul>
		</div>
	</div>
</div>