<div class="text">
	<div my-menu="doSomething()">
		<div id='select'>
			<ul>
				<a href='#5X5Puzzle1'><li>> </li></a>
				<a href='#5X5Puzzle2'><li>> </li></a>
				<a href='#5X5Puzzle3'><li>> </li></a>
				<a href='#5X5Puzzle4'><li>> </li></a>
				<a href='#5X5Puzzle5'><li>> </li></a>

				<a href='#puzzles'><li class='back'>> </li></a>
			</ul>
		</div>
		<div id='list'>
			<ul>
				<li>Grid 5x5_1</li>
				<li>Grid 5x5_2</li>
				<li>Grid 5x5_3</li>
				<li>Grid 5x5_4</li>
				<li>Grid 5x5_5</li>

				<li class='back'>Back</li>
			</ul>
		</div>
		<div id='list2'>
			<ul>
				<li>{{_5x5_1Result}}</li>
				<li>{{_5x5_2Result}}</li>
				<li>{{_5x5_3Result}}</li>
				<li>{{_5x5_4Result}}</li>
				<li>{{_5x5_5Result}}</li>
				<li class='back'>&nbsp;</li>
			</ul>
		</div>
	</div>
</div>