<div class="text">
	<div my-menu="doSomething()">
		<div id='select'>
			<ul>
				<a href='#6X6Puzzle1'><li>> </li></a>
				<a href='#6X6Puzzle2'><li>> </li></a>
				<a href='#6X6Puzzle3'><li>> </li></a>
				<a href='#6X6Puzzle4'><li>> </li></a>
				<a href='#6X6Puzzle5'><li>> </li></a>

				<a href='#puzzles'><li class='back'>> </li></a>
			</ul>
		</div>
		<div id='list'>
			<ul>
				<li>Grid 6x6_1</li>
				<li>Grid 6x6_2</li>
				<li>Grid 6x6_3</li>
				<li>Grid 6x6_4</li>
				<li>Grid 6x6_5</li>

				<li class='back'>back</li>
			</ul>
		</div>
	</div>
</div>