<div class="text">
	<div my-menu="doSomething()">
		<div id='select'>
			<ul>
				<a class='selected' href='#puzzles'><li >> </li></a>
				<a href='#controls'><li>> </li></a>
				<a href='#settings'><li>> </li></a>
				<a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-via="freddieline1" data-show-count="false">> </a>
				<a href='#credits'><li>> </li></a>
			</ul>
		</div>
		<div id='list'>
			<ul>
				<li>Music on</li>
				<li>Music off</li>
				<li>Settings</li>
				<li>Tweet</li>
				<li>Credits</li>
			</ul>
		</div>
	</div>
</div>
